.booking_block_content_wrap {
  position: absolute;
  overflow: auto;
  left: 0;
  z-index: 1000;
  background: rgba(76, 76, 76, 0.28);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
  top: 0px;
  font-family: 'Segoe UI', sans-serif;
  .booking_block_content {
    margin: 100px auto;
    width: 320px;
    background: #fff;
    .booking_block_content_header {
      display: flex;
      justify-content: space-between;
      .content_header_back {
        margin: 2px 0 0 4px;
        width: 52px;
        height: 52px;
        padding: 17px 12px;
        border-radius: 50%;
        cursor: pointer;
      }
      .content_header_back:hover {
        background: #ededed;
      }
      .content_header_close {
        margin: 2px 4px 0 0px;
        width: 52px;
        height: 52px;
        cursor: pointer;
        padding: 15px 15px;
      }
      .content_header_close:hover {
        background: #ededed;
      }
      .content_header_close:active {
        background: rgba(76, 76, 76, 0.33);
      }
    }
  }
}
.booking_block_content_main {
  margin-bottom: 20px;
  margin-top: 10px;
}
.content_main_text {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  color: #787878;
  line-height: 17.29px;
  margin: 0 20px;
}
.content_main_input_wrap {
  margin: 20px 31px 60px;
  .content_main_first_input {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #787878;
    input {
      font-family: 'Segoe UI', sans-serif;
      border: 1px solid #4c4c4c;
      border-radius: 5px;
      width: 255px;
      height: 44px;
      color: #4c4c4c;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 700;
    }
    input:hover,
    input:focus,
    input:active {
      outline: none;
    }
    div {
      margin: 5px 0 0 70px;
    }
  }
  .content_main_second_input {
    margin-top: 56px;
    width: 255px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #787878;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      font-family: 'Segoe UI', sans-serif;
      border: 1px solid #4c4c4c;
      border-radius: 5px;
      width: 80px;
      height: 44px;
      color: #4c4c4c;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 700;
    }
    input:hover,
    input:focus,
    input:active {
      outline: none;
    }
  }
  .content_main_second_input_text {
    margin: 5px 0 0 110px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #787878;
  }
}
.content_btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 10px;
}
.content_btn_arrow {
  cursor: pointer;
}

.booking_block_button {
  margin: 30px 100px;

  width: 119px;
  height: 37px;
  border: none;
  background: #0090ff;
  color: #fff;
  box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background: rgba(0, 144, 255, 0.5);
  }
  &:active {
    background: #006bbe;
  }
}

.content_unique_number {
  color: #f5101e;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;

  text-align: center;
}
