$color-border-hover: #0090ff;
$color-border: #a5a5a5;
$color-text-input-location: #4c4c4c;
$color_hover_background: #e5e5e5;
$color_active_background: rgba(229, 229, 229, 0.6);
$color-point-location-def: #aeafbc;
$color-point-location-active: #006bbe;
%point-location-grey {
  content: "";
  background-image: url("../../assets/images/location/VectorLocationGrey.png");
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 11px;
  display: block;
  width: 25px;
  height: 25px;
}
%point-location-blue {
  content: "";
  background-image: url("../../assets/images/location/VectorLocationBlue.png");
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: 11px;
  display: block;
  width: 25px;
  height: 25x;
}
%text-region-list-style {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: $color-text-input-location;
}
%text-location-list-style {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #626367;
}
%point-location-icon {
  &::before {
    margin: 0px 0px 0px 20px;
    padding: 0px 37px 0px 0px;
    @extend %point-location-grey;
  }
  &:hover::before,
  &:active::before,
  &:focus::before {
    @extend %point-location-blue;
  }
}
%body__border-hover-input {
  border: 1px solid $color-border;
  border-radius: 3px;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $color-border-hover;
    border-radius: 3px;
  }
}
%scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(183, 189, 198);
    height: 15px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
  }
  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: 10px;
  }
}

.container_location_country {
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.location__body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 335px;
  height: 476px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 4.27972px 1.06993px rgba(0, 0, 0, 0.27);
  overflow: hidden;
  animation: 0.3s ease-in-out 0s 1 normal none running animation-madalWindow;
  box-sizing: border-box;
  -webkit-animation: 0.3s ease-in-out 0s 1 normal none running
    animation-madalWindow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 20;
}
@keyframes animation-madalWindow {
  0% {
    transform: scale(0.95);
  }
  66% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.location__body_block {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  &::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    height: 11px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #0090ff;
    border-radius: 10px 10px 0px 0px;
  }
}
.body_block_input {
  position: absolute;
  top: 22px;
  left: 18px;
  width: 301px;
  height: 39px;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  &::before {
    content: "";
    background-image: url("../../assets/images/search/search 90.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 11px;
  }
  @extend%body__border-hover-input;
}

.block_input_loc {
  width: 100%;
  height: 100%;
  padding: 11px 0px 0px 0px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  @extend %text-location-list-style;
  background-color: #ffffff;
}
.location__container_ul {
  padding: 0px 7px 0px 0px;
  margin: 74px 0px 20px 0px;
  width: 335px;
  box-sizing: border-box;
  @extend%scroll-container;
}

.location__body_ul {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style-type: none;
}
.location__body_li {
  box-sizing: border-box;
  margin: 5px 0px 0px 0px;
  overflow: hidden;
  height: 49px;
  cursor: pointer;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  &:hover {
    height: 49px;
    border-radius: 3px;
    backdrop-filter: blur(15px);
    background-color: $color_hover_background;
  }

  &:active,
  &:focus,
  &:visited {
    height: 49px;
    border-radius: 3px;
    backdrop-filter: blur(15px);
    background-color: $color_active_background;
  }
  @extend%point-location-icon;
}

.block_span_text {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  margin: -12px 0px 0px 57px;
  padding: 0px 0px 0px 0px;
}
.location_text_list_style {
  @extend %text-location-list-style;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
  margin: 0px 12px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.region_text_list_style {
  @extend %text-region-list-style;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 121px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.country_text_list_style {
  @extend %text-region-list-style;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 121px;
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 0px;
}
