.tab__section {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI';
  font-weight: 700;
}

.tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  width: 100%;
  height: 29px;
  color: #a5a5a5;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  border-radius: 5px;

  &:hover {
    color: #535252;
    border: 0.5px solid #000000;
  }

  &_active {
    color: #535252;
    border: 1px solid #626367;
  }
}

.tab__text {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  //   color: #535252;

  &:first-child {
    margin-right: 82px;
  }

  .tab_accent &:first-child::after {
    content: '';
    position: absolute;
    bottom: 30%;
    left: 120%;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ff6000;
  }
}

.tab__count {
  margin-left: 20px;
  font-size: 11px;
  line-height: 15px;
  color: #006bbe;
}
