.hostel-list__wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, auto);
	grid-template-rows: repeat(2, auto);
	grid-auto-flow: column;
	width: 218px;
	gap: 11px 27px;
	margin-right: 5px;
	padding-top: 18px;
	padding-left: 5px;
	flex-direction: row;
	overflow-x: auto;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	overflow-x: auto;
	scrollbar-width: thin;
	scrollbar-color: #0090ff #ffffff;
	cursor: pointer;
	&::-webkit-scrollbar {
		cursor: pointer;
		width: 2px;
		height: 3px;
		height: 25px;
	}

	&::-webkit-scrollbar-track {
		background-color: #aeafbc;
		border: 11px solid #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #0090ff;
		border: 11px solid #ffffff;
		border-right: none;
		border-left: none;
	}
}

.hostel-list__block {
	&:hover .hostel-list__title {
		visibility: visible;
		opacity: 1;
		transition-delay: 0.5s;
	}
}

.hostel-list__title {
	width: 171px;
	height: 32px;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 32px;
	color: #ffffff;
	background: #000000;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0.3s;
	transition-property: opacity, visibility;
}
